# Database Connection String
DATABASE_URL="postgresql://postgres:THEGREYSTAG@db.crpynlbypmvalvunxwkt.supabase.co:5432/postgres?sslmode=require"

# Server Port
PORT=5000

# Environment
NODE_ENV=development

# Security
CORS_ORIGIN="*"
JWT_SECRET="your_super_secret_key_here"
JWT_EXPIRE="7d"

# Razorpay
RAZORPAY_KEY_ID="rzp_live_SIPyXnGhdsW05N"
RAZORPAY_KEY_SECRET="eKp3FJ9Mt1Bo45InkgzBDtv1"
RAZORPAY_WEBHOOK_SECRET="eKp3FJ9Mt1Bo45InkgzBDtv1"

# Email Configuration
EMAIL_USER="THEGREYSTAG0@gmail.com"
EMAIL_PASS="NIRAJ2019@"
